#desk {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

.note {
    background-image: url('/img/note.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1%;
    padding: 3%;
    width: 150px;
}

.note-text {
    height: 100px;
    max-height: 100px;
    overflow: hidden;
}
